#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

div.containter{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  border: 2px solid transparent;
  border-radius: 8px;
  border-color: rgba(255, 255, 255, 0.87);
}

div.btn-col{
  margin: 1rem ;
}

div.rojo {
  background-color: rgb(255, 0, 0);
}
div.naranja {
  background-color:orange;
}
div.amarillo {
  background-color:yellow;
}
div.verde {
  background-color:greenyellow;
}
div.celeste {
  background-color:cyan;
}
div.azul {
  background-color:blue;
}
div.violeta {
  background-color:purple;
}
div.rosa {
  background-color:pink;
}